*{
    font-family: cerveceria;
}
:root {
    --light-0: #f8f9fa;
    --light-1: #e9ecef;
    --light-2: #dee2e6;
    --dark-0: #495057;
    --dark-1: #343a40;
    --dark-2: #212529;
  }
body {
    background: var(--light-0);
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    transition: background 0.3s ease;
  }
  body.dark {
    background: #222;
    color: #fff;
  }
  input {
    position: absolute;
  }
  
  label {
    background: var(--light-2);
    border-radius: 20px;
    cursor: pointer;
    height: 38px;
    position: relative;
    width: 68px;
  }
  label .sun-moon {
    background: var(--light-1);
    border-radius: 50%;
    height: 30px;
    margin: 4px;
    transition: transform 0.3s ease;
    width: 30px;
  }
  :root {
    --light-0: #f8f9fa;
    --light-1: #e9ecef;
    --light-2: #dee2e6;
    --dark-0: #495057;
    --dark-1: #343a40;
    --dark-2: #212529;
    --green: #c3c82c;
    --blue: #2939ff;
  }
  #toggle {
    align-items: center;
    background: var(--light-2);
    background: url('https://i.ibb.co/ZWmbGbj/etmfdr.gif');
    background-position: bottom;
    background-size: cover;
    border-radius: 35px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
    display: flex;
    height: 60px;
    position: relative;
    width: 110px;
  }
  
  #toggle-button:checked + label {
    background: var(--dark-0);
    background: url('https://i.pinimg.com/originals/94/ff/74/94ff7463a1574221ba6d4ada2c997e0b.gif');
    background-position: center;
    background-size: cover;
  }
  
  label .sun-moon {
    background: radial-gradient(var(--green), transparent);
    border-radius: 50%;
    height: 30px;
    margin: 4px;
    transition: transform 0.3s ease;
    width: 30px;
  }
  
  #toggle-button:checked + label .sun-moon {
    background: radial-gradient(var(--blue), transparent);
    transform: translateX(72px);
  }
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  li {
    font-size: 0.9rem;
  }
  .f0 {
    font-size: 0.8rem;
  }
  .f1 {
    font-size: 0.9rem;
  }
  .f2 {
    font-size: 1rem;
  }
  .f3 {
    font-size: 1.1rem;
  }
  .f4 {
    font-size: 1.2rem;
  }
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-capiton{
    bottom: 220px;
    z-index: 2;
}
.carousel-capiton h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-capiton p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-hover{
    color: #000;
}
.navbar-light .navbar-nav .navbar-link{
    color: #ba9393;
}
.w-100{
    height: 100vh;
}

.service .card-body i{
    font-size: 50px;
}

@media only scree and (min-width: 768px) and (max-width: 911px){
    .carousel-capiton{
        bottom: 370px;
    }
    .carousel-capiton p{
        width: 100%;
    }
}

@media only screenn and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-capiton{
        bottom: 125px;
    }
    .carousel-capiton h5{
        font-size: 17px;
    }
    .carousel-capiton a{
        padding: 10px 15px;
    }
    .carousel-capiton p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}
#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
    max-width: 1920px;
  }
  #portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
    position: relative;
    display: block;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(221, 106, 53, 0.9);
    transition: opacity 0.25s ease;
    text-align: center;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  #portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
  }
  #portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
  }
  body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #D5D9D9;
    margin-top: 0;
    padding-top: 0;
}
.header a{
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    color: #00438D;
    padding: 0 10px; 
    height: inherit; 
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    margin-block-start: 3px;
    margin-block-end: 3px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.logo img{
    margin: 0px 0px 0px 5px ;
    display: flex;
    padding: 0;
    border: 0;
}
.header ol{
    list-style: none; 
    display: flex; /*Sirve para poner la lista de elementos de la lista horizontalmente*/ 
    height: inherit;
}
.header ol li{
    height: inherit;
}
.link:hover {
    color: white;
    background-color: #00438D;
    border: 0.5px solid #D5D9D9;
}
ol{
    margin: 0;
    padding: 0;
}
/*menu*/
.menu{
    height: inherit;
}
.menu li{
    display: inline; /*para poner la lista en horizontal*/
}
/*Footer*/
.footer{
  display: block;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top: 1px solid #D5D9D9;
  margin-top: 0;
  padding: 1em;
}
a:link{
text-decoration: none;
}
.social{
  width: 32px;
  height: 32px;
  display: inline-block;
}
/*End Footer*/
form{
    text-align: center;
}
.tablita{
    display: inline-block;    
}
/*Tablaaaaaa Estilos*/
.tabla{
border-collapse: collapse; /*Esta propiedad hace que parezca mas una tabla*/
font-family: 'Quicksand', sans-serif;
}
table tr th{
    border: 1px solid #D5D9D9;
    width: 100px;
    height: 25px;
    color: white;
    background-color: #00438D;
}
/* Para el estilo de las nuevas celdas */
td {
    border: 1px solid #D5D9D9;
    width: 100px;
    height: 25px;
}
.caja{
    display: block;
}
.caja label{
    font-family: 'Quicksand', sans-serif;
}
.caja input{
    width: 8em;
    height: 2em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;  
}
.submit{
    width: 8em;
    height: 2em;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #00438D;
    border: 2px solid white;
}